.footer__contacts-header-invite {
  font-family: @basic-font;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}
.footer {
  background-color: @basic-grey;
}
.footer__contacts-addres {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
}
.footer__links-link {
  text-decoration: none;
}
.footer__links-htmlacademy {
  font-family: Arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
}
