.how-does-it-work {
  background-color: white;
}
.how-does-it-work__header {
  font-family: @basic-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}
.how-does-it-work__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.how-does-it-work__list-item__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  margin: 0;
  padding: 0;
}
