.live-example {
  background-color: #EAEAEA;
}
.live-example__header {
  font-family: @basic-font;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}
.live-example__description {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
.results-money-spent {
  font-family: @basic-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.life-example__before-and-after__toggle-decription {
  margin: 0;
}
