.live-example {
  background-color: #eaeaea;
  padding-top: 27px;
}

.live-example__header {
  font-family: @basic-font, "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.live-example__description {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  margin: 0;
  margin-bottom: 25px;
}

.live-example__results {
  display: flex;
  flex-wrap: wrap;
}

.results-weight {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: @basic-font, "Arial", sans-serif;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-width: 124px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
}

.results-days {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: @basic-font, "Arial", sans-serif;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-width: 124px;
  margin-left: 10px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
}

.results-money-spent {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: @basic-font, "Arial", sans-serif;
  margin-top: 27px;
}

.life-example__before-and-after {
  margin-top: 42px;
}

.life-example__before-and-after__toggle {
  display: flex;
}

.life-example__before-and-after__toggle-decription {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: @basic-font, "Arial", sans-serif;
  text-transform: uppercase;
}
